{% extends 'base.html' %}
{% block content %}
    <h2>Suivre les utilisateurs</h2>
    <!-- PARTIE RECHERCHE ET RESULTAT-->
    <form method="POST">
        {% csrf_token %}
        <input type="text" id="search_box" name="search_box" placeholder="Search..." value="{{ request.GET.username }}">
        <button class="btn btn-outline-success" name="follow" value="follow" type="submit">S'abonner</button><br/><br/>
    
    <!-- PARTIE ABONNEMENT POUR SE DESABONNER -->
        <strong>Abonnements</strong><br/><br/>
        {% for following in user.following.all %}
            {{ following.username }}
            <button class="btn btn-outline-danger" name="follow" value="{{following.username}}" type="submit">Se désabonner</button><br/><br/>
        {% endfor %}
    </form>
    <br/>
    <!-- AFFICHAGE DES ABONNÉS -->
    <strong>Abonnés</strong><br/>
    {% for following in user.followed_by.all %}
        @{{following}}<br/>
    {% endfor %}
{% endblock content %}