{% extends 'base.html' %}
{% block content %}
    <p><a href="{% url 'create_ticket' %}"> <button>Demander une critique</button></a></p>
    <p><a href="{% url 'create_review' %}"><button>Créer une critique</button></a></p>
    {% for ticket in tickets %}
        <p>Ticket par {{ ticket.user }}</p>
        <p>{{ ticket.title }}</p>
        <p> {{ ticket.description }}</p>
        <img src="{{ ticket.image.url }}">
        <p>{% for review in ticket.review_set.all %}</p>
        {% empty %}
        <a href="{% url 'reviewing' ticket.id %}"><button>Créer une critique</button></a>
        {% endfor %}
    {% endfor %}
{% endblock %}
