{% extends 'base.html' %}
{% block content %}
{% if profile %}
    <h2> Profil</h2>
    {% for post in posts %}
        {% if post.content_type == "TICKET" %}
            <p>Ticket - Vous</p>
            <p>{{ post.title }}</p>
            <p>{{ post.description }}</p>
            <img src="{{ post.image.url }}">
            <a href="{% url 'update_ticket' post.id %}"><button>Update</button></a>
            <a href="{% url 'delete_ticket' post.id %}"><button>Delete</button></a>
        {% elif post.content_type == "REVIEW" %}
            <p>Vous avez publié une critique</p>
            <p> {{ post.headline }} - {{ post.rating }} </p>
            <p> {{ post.body }} </p>
            <p>Ticket - Vous</p>
            <p> {{ post.ticket.title }} </p>
            <img src="{{ post.ticket.image.url }}">
            <a href="{% url 'update_review' post.id %}"><button>Update</button></a>
            <a href="{% url 'delete_review' post.id %}"><button>Delete</button></a>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}