{% extends 'base.html' %}
{% block content %}
{% if profile %}
    <h2> Profil</h2>
    {% for post in posts %}
        {% if post.content_type == "TICKET" %}
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <p class="card-user">Ticket - Vous <span style="float: right;">{{ post.time_created }}</span></p>
                    <p class="card-text">{{ post.title }}</p>
                    <p class="card-text">{{ post.description }}</p>
                    <img src="{{ post.image.url }}">
                </div>
                <p><a href="{% url 'update_ticket' post.id %}"><button class="btn float-end btn-secondary">Update</button></a>
                <a href="{% url 'delete_ticket' post.id %}"><button class="btn float-end btn-secondary">Delete</button></a></p>
            </div>
        </div>
        {% elif post.content_type == "REVIEW" %}
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <p class="card-user">Vous avez publié une critique <span style="float: right;">{{ post.time_created }}</span></p>
                    <p class="card-text"> {{ post.headline }} - {{ post.rating }} / 5 </p>
                    <p class="card-text"> {{ post.body }} </p>
                    <div class="col d-flex justify-content-center">
                        <div class="card" style="width: 30rem;">
                            <div class="card-body">
                                <p class="card-user">Ticket - {{post.ticket.user}} <span style="float: right;">{{ post.time_created }}</span></p>
                                <p class="card-text"> {{ post.ticket.title }} </p>
                                <img src="{{ post.ticket.image.url }}">
                            </div>
                        </div>
                    </div>
                </div>
                <p><a href="{% url 'update_review' post.id %}"><button class="btn float-end btn-secondary">Update</button></a>
                <a href="{% url 'delete_review' post.id %}"><button class="btn float-end btn-secondary">Delete</button></a></p>

            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}